    {# uuuuvcomment ------------------------- nav ------------------------- #}
    <ul class="tabs">
                    
        <li id="testcases_nav" class="tab " onclick="tabHandler(event, 'testcases')" >Test cases</li>
        <li id="submission_nav" class="tab active {% if is_processing == true %}{{'active'}}{% endif %}" onclick="tabHandler(event, 'submission_results')">Console</li>


    {# uuuuvcomment ------------------------- rejudge form ------------------------- #}
        {#{% include 'funix/submission/rejudge-form.html' %}#}
    </ul>

    <div class="tab_contents">
        <div id="testcases" class="tab_content {% if not (is_processing == true or submission) %}{{'active'}}{% endif %}">
            {% include 'funix/submission/testcases.html' %}
        </div>

        <div id="submission_results" class="tab_content {% if is_processing == true or submission %}{{'active'}}{% endif %}">
            {% include 'funix/submission/results.html' %}
        </div>
    </div>