/* Hack to make dropdown background follow theming */
.select2-dropdown {
  background-color: #fff !important;
  border: 1px solid #aaa !important;
  color: #000 !important;
}

.select2-container--dmoj .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.select2-container--dmoj .select2-selection--single .select2-selection__rendered {
  color: #3b3b3b;
  line-height: 28px;
}
.select2-container--dmoj .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}
.select2-container--dmoj .select2-selection--single .select2-selection__placeholder {
  color: #808080;
}
.select2-container--dmoj .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}
.select2-container--dmoj .select2-selection--single .select2-selection__arrow b {
  border-color: #808080 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.select2-container--dmoj[dir=rtl] .select2-selection--single .select2-selection__clear {
  float: left;
}
.select2-container--dmoj[dir=rtl] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}
.select2-container--dmoj.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}
.select2-container--dmoj.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}
.select2-container--dmoj.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #808080 transparent;
  border-width: 0 4px 5px 4px;
}
.select2-container--dmoj .select2-selection--multiple {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}
.select2-container--dmoj .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}
.select2-container--dmoj .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}
.select2-container--dmoj .select2-selection--multiple .select2-selection__placeholder {
  color: #808080;
  margin-top: 5px;
  float: left;
}
.select2-container--dmoj .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}
.select2-container--dmoj .select2-selection--multiple .select2-selection__choice {
  background-color: #eee;
  color: #000;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}
.select2-container--dmoj .select2-selection--multiple .select2-selection__choice__remove {
  color: #808080;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}
.select2-container--dmoj .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #3b3b3b;
}
.select2-container--dmoj[dir=rtl] .select2-selection--multiple .select2-selection__choice, .select2-container--dmoj[dir=rtl] .select2-selection--multiple .select2-selection__placeholder, .select2-container--dmoj[dir=rtl] .select2-selection--multiple .select2-search--inline {
  float: right;
}
.select2-container--dmoj[dir=rtl] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}
.select2-container--dmoj[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}
.select2-container--dmoj.select2-container--focus .select2-selection--multiple {
  border: solid #000 1px;
  outline: 0;
}
.select2-container--dmoj.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}
.select2-container--dmoj.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}
.select2-container--dmoj.select2-container--open.select2-container--above .select2-selection--single, .select2-container--dmoj.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-container--dmoj.select2-container--open.select2-container--below .select2-selection--single, .select2-container--dmoj.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--dmoj .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  background-color: #fff;
  color: #000;
}
.select2-container--dmoj .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  color: #000;
  -webkit-appearance: textfield;
}
.select2-container--dmoj .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
  color: #000;
}
.select2-container--dmoj .select2-results__option[role=group] {
  padding: 0;
}
.select2-container--dmoj .select2-results__option[aria-disabled=true] {
  color: #808080;
}
.select2-container--dmoj .select2-results__option[aria-selected=true] {
  background-color: #ccc;
}
.select2-container--dmoj .select2-results__option .select2-results__option {
  padding-left: 1em;
}
.select2-container--dmoj .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}
.select2-container--dmoj .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}
.select2-container--dmoj .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}
.select2-container--dmoj .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}
.select2-container--dmoj .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}
.select2-container--dmoj .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}
.select2-container--dmoj .select2-results__option--highlighted[aria-selected] {
  background-color: #2980B9;
  color: white;
}
.select2-container--dmoj .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Jlc291cmNlcy9zZWxlY3QyLWRtb2ouc2NzcyIsIi4uL3Nhc3NfcHJvY2Vzc2VkL3NlbGVjdDItZG1vai5jc3MiLCIuLi9yZXNvdXJjZXMvc2VsZWN0Mi9fc2luZ2xlLnNjc3MiLCIuLi9yZXNvdXJjZXMvdmFycy5zY3NzIiwiLi4vcmVzb3VyY2VzL3NlbGVjdDIvX211bHRpcGxlLnNjc3MiLCIuLi9yZXNvdXJjZXMvdmFycy1jb21tb24uc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFFQSxvREFBQTtBQUNBO0VBQ0ksaUNBQUE7RUFDQSxpQ0FBQTtFQUNBLHNCQUFBO0FDREo7O0FDTEE7RUFDSSxzQkNHYTtFREZiLHNCQUFBO0VBQ0Esa0JBQUE7QURRSjtBQ05JO0VBQ0ksY0NLVTtFREpWLGlCQUFBO0FEUVI7QUNMSTtFQUNJLGVBQUE7RUFDQSxZQUFBO0VBQ0EsaUJBQUE7QURPUjtBQ0pJO0VBQ0ksY0NSVTtBRmNsQjtBQ0hJO0VBQ0ksWUFBQTtFQUVBLGtCQUFBO0VBRUEsUUFBQTtFQUNBLFVBQUE7RUFFQSxXQUFBO0FERVI7QUNBUTtFQUNJLHlEQUFBO0VBQ0EsbUJBQUE7RUFDQSwyQkFBQTtFQUVBLFNBQUE7RUFDQSxTQUFBO0VBRUEsaUJBQUE7RUFDQSxnQkFBQTtFQUVBLGtCQUFBO0VBRUEsUUFBQTtFQUNBLFFBQUE7QURGWjtBQ1NRO0VBQ0ksV0FBQTtBRFBaO0FDVVE7RUFDSSxTQUFBO0VBQ0EsV0FBQTtBRFJaO0FDY0k7RUFDSSxzQkMxRFU7RUQyRFYsZUFBQTtBRFpSO0FDY1E7RUFDSSxhQUFBO0FEWlo7QUNvQlk7RUFDSSx5REFBQTtFQUNBLDJCQUFBO0FEbEJoQjtBRzVEQTtFQUNJLHNCREdhO0VDRmIsc0JBQUE7RUFDQSxrQkFBQTtFQUNBLFlBQUE7QUg4REo7QUc1REk7RUFDSSxzQkFBQTtFQUNBLGdCQUFBO0VBQ0EsU0FBQTtFQUNBLGNBQUE7RUFDQSxXQUFBO0FIOERSO0FHNURRO0VBQ0ksZ0JBQUE7QUg4RFo7QUcxREk7RUFDSSxjRFZVO0VDWVYsZUFBQTtFQUVBLFdBQUE7QUgwRFI7QUd2REk7RUFDSSxlQUFBO0VBQ0EsWUFBQTtFQUNBLGlCQUFBO0VBQ0EsZUFBQTtFQUNBLGtCQUFBO0FIeURSO0FHdERJO0VBQ0ksc0JEN0JVO0VDOEJWLFdEdkJXO0VDeUJYLHNCQUFBO0VBQ0Esa0JBQUE7RUFDQSxlQUFBO0VBRUEsV0FBQTtFQUVBLGlCQUFBO0VBQ0EsZUFBQTtFQUNBLGNBQUE7QUhxRFI7QUdsREk7RUFDSSxjRHpDVTtFQzBDVixlQUFBO0VBRUEscUJBQUE7RUFDQSxpQkFBQTtFQUVBLGlCQUFBO0FIa0RSO0FHaERRO0VBQ0ksY0RoRE07QUZrR2xCO0FHM0NRO0VBQ0ksWUFBQTtBSDZDWjtBRzFDUTtFQUNJLGdCQUFBO0VBQ0Esa0JBQUE7QUg0Q1o7QUd6Q1E7RUFDSSxnQkFBQTtFQUNBLGtCQUFBO0FIMkNaO0FHckNJO0VBQ0ksc0JBQUE7RUFDQSxVQUFBO0FIdUNSO0FHbENJO0VBQ0ksc0JEckZVO0VDc0ZWLGVBQUE7QUhvQ1I7QUdqQ0k7RUFDSSxhQUFBO0FIbUNSO0FEckhRO0VBQ0kseUJBQUE7RUFDQSwwQkFBQTtBQ3VIWjtBRGxIUTtFQUNJLDRCQUFBO0VBQ0EsNkJBQUE7QUNvSFo7QUQvR1E7RUFDSSxzQkFBQTtFQUNBLHNCRzFCSztFSDJCTCxXR2xCTztBRm1JbkI7QUQ1R1E7RUFDSSx1QkFBQTtFQUNBLFlBQUE7RUFDQSxVQUFBO0VBQ0EsZ0JBQUE7RUFDQSxXRzVCTztFSDZCUCw2QkFBQTtBQzhHWjtBRDFHSTtFQUNJLGlCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxXR3BDVztBRmdKbkI7QUR4R1E7RUFDSSxVQUFBO0FDMEdaO0FEdkdRO0VBQ0ksY0dqRE07QUYwSmxCO0FEdEdRO0VBQ0ksc0JHdkRNO0FGK0psQjtBRHJHUTtFQUNJLGlCQUFBO0FDdUdaO0FEckdZO0VBQ0ksZUFBQTtBQ3VHaEI7QURwR1k7RUFDSSxpQkFBQTtFQUNBLGlCQUFBO0FDc0doQjtBRHBHZ0I7RUFDSSxpQkFBQTtFQUNBLGlCQUFBO0FDc0dwQjtBRHBHb0I7RUFDSSxpQkFBQTtFQUNBLGlCQUFBO0FDc0d4QjtBRHBHd0I7RUFDSSxpQkFBQTtFQUNBLGlCQUFBO0FDc0c1QjtBRHBHNEI7RUFDSSxpQkFBQTtFQUNBLGlCQUFBO0FDc0doQztBRDdGSTtFQUNJLHlCS3BHUztFTHFHVCxZQUFBO0FDK0ZSO0FENUZJO0VBQ0ksZUFBQTtFQUNBLGNBQUE7RUFDQSxZQUFBO0FDOEZSIiwiZmlsZSI6InNlbGVjdDItZG1vai5jc3MifQ== */