/* override  */
.window-visible {
    width: 100%;
    max-width: 100%;
}
#page-container {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

#page-container footer, #page-container hr:first-of-type,#page-container br:first-of-type, #page-container h2:first-of-type {
    display: none !important;
}

#content {
    margin: 0;
    padding: 0;
    width: 100%;   
    overflow: hidden;
}

#content-body {
    margin: 0;
    padding: 0; 
    height: 100vh;
    padding-top: 44px;
}

.codeplace .django-ace-toolbar {
    display: none;
}

/* scrollbar  */
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #afafaf;
    border-radius: 999px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.resizable-handle {
    background: transparent !important;
    position: relative;
}

.resizer {
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.resizer svg {
    fill: rgb(102, 102, 102);
}

/* general  */
:root {
    --topbar-height: 44px;
    --sidebar-width: 60px;
    --problem-clsf-height: 90px;
    --border: #535353;
}


.d-none {
    display: none;
}

.clearfloat::after {
  content: "";
  clear: both;
  display: table;
}

/* problem page  */
.problem_container {
    height: 100%;
}

.problem_container * {
    box-sizing: border-box;
}

/* topbar  */
.topbar {
    height: var(--topbar-height) !important;
    min-height:var(--topbar-height);
    max-height:var(--topbar-height);
    border-bottom: .5px solid var(--border);
    padding-left: var(--sidebar-width);
    line-height: var(--topbar-height);
    font-size: 17px;
    font-weight: bold;
    box-shadow: var(--box-shadow);
}

/* sidebar  */
.sidebar {
    width: var(--sidebar-width);
    height: calc(100% - var(--topbar-height));
    overflow: hidden;
    float: left;
    box-shadow: var(--box-shadow);
    border-right: .5px solid var(--border);
    box-sizing: border-box;
}

.sidebar a {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar a:hover {
    cursor: pointer;
}

.sidebar a.active {
    background: #2980B9;
    color: white;
}

.sidebar svg {
    width: 30px;
}

.main {
    width: calc(100% - var(--sidebar-width));
    float: right;
    height: calc(100% - var(--topbar-height));
    overflow: hidden;
    display: flex;
}

.problem_details {
    height: calc(100% - var(--topbar-height));
    flex: 1;
    overflow: auto;
}

.problem_clsf {
    border-bottom: .5px solid var(--border);
    padding: 0 8px;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}

.problem_clsf_item {
    height: 30px;
    display: flex;
    align-items: center;
    margin: 8px;
    gap: 2px;
    white-space: nowrap;
}

.problem_clsf_item svg {
    width: 18px;
}

.clsf_author, .clsf_author a  {
    color: rgb(146, 146, 235);
    text-decoration: underline;
}

.clsf_points svg {
    color: rgb(165, 14, 107);
}

.clsf_memorylimit svg {
    color: rgb(14, 130, 165);
}

.clsf_type svg {
    color: rgb(14, 165, 34);
}

.clsf__timelimit svg {
    color: rgb(97, 14, 165);
}

.problem_description {
    padding: 8px;
    padding-bottom: 20px;
}

.codeplace {
    width: 50%;
    height: calc(100% - var(--topbar-height));
    border-left: .5px solid var(--border);
    padding: 0 8px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.codeplace.expand {
    width: 100%;
}

.button, input[type=submit] {
    height: 30px;
    border-radius: 3.6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 0 10px;
}

.button svg {
    width: 18px;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 4px;
    flex-shrink: 0;
    border-bottom: .5px solid var(--border);
}

#language {
    margin: 0;
}

#problem_submit .select2-container {
    width: 100% !important;
} 

/* --------------- editor --------------- */
.codeplace_editor {
    padding: 10px;
    height: 500px;
}

/* test cases and submit bar */
.submission {
    height: 50%;
    overflow: auto;
    border-top: .5px solid var(--border);
    width: 100% !important;
}

.submitbar {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    border-bottom: .5px solid var(--border);
    box-sizing: border-box;
}

.submitbar .submit-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float:none !important;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0;
}

.rejudge_wrapper {
    height: 0;
    position: relative;
}

.rejudge_wrapper #rejudge_form {
    position: absolute;
    bottom: 8px;
    right: 100px;
}

#submit-button.disabled {
    pointer-events: none !important;
}

#abort-button {
    display: inline-block;
}

.submission { 
    position: relative;
}


.submission_results {
    width: 100%;
    padding: 20px;
    width: 100% !important;
    position: relative;
    min-height: 100%;
}

.submission_results #abort-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submission_results #test-cases h4 {
    position: absolute;
    top: calc(50% - 40px);
    left: 50%;
    transform: translate(-50%, -50%);
}


.login_required_overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.login_required_overlay div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login_required_overlay a {
    padding: 8px 20px;
    box-shadow: var(--shadow-border);
    border: .5px solid #ccc;    
}

@media screen and (max-width: 992px) {
    .main {
        display: block;
        overflow: auto;
    }

    .problem_details {
        height: auto;
        overflow: auto;
    }

    .codeplace {
        width: 100% !important;
        height: auto;
        display: block;
        border-top: .5px solid var(--border);
    }

    .codeplace #expand_button{
        display: none;
    }

    .codeplace .toolbar {
        justify-content: end;
    }
}