<html>
<head>
    <title>404 - Page not found</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            color: #fff;
            background-color: #000;
            font-family: Lucida Console, Monospace, serif;
            font-size: 14px;
            font-smooth: never;
            -webkit-font-smoothing: none;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <p>404 - Page not found</p>
</body>
</html>
