.main {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.main-inner {
    width: 900px;
    max-width: calc(100vw - var(--sidebar-width - 32px));
    margin: 0 auto;
    height: 100%;
    padding-top: 20px;
}