:root {
  --topbar-height: 44px;
  --languagebar-height: 30px;
  --submissionnav-height: 40px;

}

.codeplace .django-ace-toolbar {
  display: none;
}

#page-container .authors-value {
  padding-left: 2px;
}

.d-none {
  display: none;
}

.clearfloat::after {
  content: "";
  clear: both;
  display: table;
}

/* resizers  */
.resizable-handle {
  background: transparent !important;
  position: relative;
}

.resizer {
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--bg-main);
  border: 0.5px solid var(--button-border);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  transition: 0.1s;
}

.resizer:hover {
  border: 0.5px solid var(--border-hover);
}

.resizer:active {
  border: 0.5px solid var(--border-hover);
}

.resizer svg {
  fill: var(--button-color-standout);
}

/* general  */
.codeplace .django-ace-widget {
  border: 0.5px solid var(--border);
}

/* button  */
.problem_container .button,
.problem_container input[type="submit"] {
  background: var(--bg-main) !important;
  transition: 0.1s ease-in;
  height: var(--button-height);
  border-radius: 3.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0 10px !important;
  border: 0.5px solid var(--button-border);
  color: var(--button-color-standout) !important;
}

.problem_container .button *,
.problem_container input[type="submit"] * {
  color: var(--button-color-standout) !important;
}

.problem_container .button:hover,
.problem_container input[type="submit"]:hover {
  border: 0.5px solid var(--button-border-hover) !important;
  color: var(--button-color-hover) !important;
}

.button svg {
  width: 18px;
}

/* judges and languages selection  */
.select2-container--dmoj
  .select2-selection--single
  .select2-selection__placeholder {
  color: var(--button-color-standout) !important;
}

.select2-container #language-select2 .select2-results__option {
  color: var(--text-color-main) !important;
  background: var(--bg-main) !important;
}

.select2-container .select2-dropdown {
  color: var(--text-color-main) !important;
  background: var(--bg-main) !important;
}

.select2-container--dmoj .select2-search--dropdown .select2-search__field {
  color: var(--text-color-main) !important;
  background: var(--bg-main) !important;
  border: 0.5px solid var(--border);
}

/* chosen language  */
#language-select2 .select2-results__option[aria-selected=true] {
  color: var(--text-color-main-standout) !important;
}


/* selected language placeholder  */
.select2-container--dmoj
  .select2-selection--single
  .select2-selection__rendered {
  color: var(--text-color-main) !important;
}

.select2-container--dmoj .select2-selection--single {
  background: var(--bg-main) !important;
}

/* problem page  */
.problem_container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.problem_container * {
  box-sizing: border-box;
}

/* topbar  */
.topbar {
  height: var(--topbar-height) !important;
  min-height: var(--topbar-height);
  max-height: var(--topbar-height);
  border-bottom: 0.5px solid var(--border);
  line-height: var(--topbar-height);
  font-weight: bold;
  box-shadow: var(--box-shadow);
  width: 100%;
  background: var(--bg-main);
  color: var(--text-color-main);
  padding: 0 20px;
}

.topbar a {
  color: var(--text-color-active);
}

.main {
  width: 100%;
  height: calc(100% - var(--topbar-height));
  display: flex;
  background: var(--bg-main);
}

.problem_details {
  height: 100%;
  flex: 1;
  overflow: auto;
  background: var(--bg-main);
  color: var(--text-color-main);
}

.problem_clsf {
  border-bottom: 0.5px solid var(--border);
  padding: 0 8px;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.problem_clsf_item {
  height: 30px;
  display: flex;
  align-items: center;
  margin: 8px;
  gap: 2px;
  white-space: nowrap;
  color: var(--text-color-main);
}

.problem_clsf_item svg {
  width: 18px;
}

#page-container #content .clsf_author,
#page-container #content .clsf_author a {
  color: rgb(146, 146, 235);
  text-decoration: underline;
  font-weight: normal !important;
}

.clsf_points svg {
  color: rgb(165, 14, 107);
}

.clsf_memorylimit svg {
  color: rgb(14, 130, 165);
}

.clsf_type svg {
  color: rgb(14, 165, 34);
}

.clsf__timelimit svg {
  color: rgb(97, 14, 165);
}

.problem_description {
  padding: 8px;
  padding-bottom: 20px;
}

.problem_description h1,
.problem_description h2,
.problem_description h3,
.problem_description h4,
.problem_description h5,
.problem_description h6 {
  color: var(--text-color-main-standout);
}

/* code place  */
.codeplace {
  width: 50%;
  height: 100%;
  border-left: 0.5px solid var(--border);
  padding: 0 8px 20px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  background: var(--bg-main);
  padding-bottom: 20px;
}

.codeplace.expand {
  width: 100% !important;
}

.codeplace svg.collapse {
  display: none;
}

.codeplace.expand svg.expand {
  display: none;
}

.codeplace.expand svg.collapse {
  display: block;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--toolbar-height);
  padding: 0 4px;
  flex-shrink: 0;
  border-bottom: 0.5px solid var(--border);
  stroke-width: 1 !important;
}

/* language  */
#language-bar {
  height: var(--languagebar-height);
  min-height: var(--languagebar-height);
  max-height: var(--languagebar-height);
  flex-shrink: 0;
}

#language {
  margin: 0;
}

#problem_submit .select2-container {
  width: 100% !important;
}

/* --------------- editor --------------- */
/* xxx */
.codeplace_editor {
  height: calc(
    (
        100vh - var(--topbar-height) - var(--toolbar-height) -
          var(--submitbar-height) - var(--submissionnav-height) - var(--languagebar-height)
      ) / 2
  );
}

/* test cases and submit bar */
.submission {
  height: 50%;
  overflow: hidden;
  border-top: 0.5px solid var(--border);
  width: 100% !important;
}

.submitbar {
  width: 100%;
  height: var(--submitbar-height);
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid var(--border);
  box-sizing: border-box;
}

.submitbar .submit-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: none !important;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0;
}

.submission {
  position: relative;
  flex: 1;
  overflow: auto;
}

.submission > .tabs {
  position: relative;
  margin: 0 !important;
}

.rejudge_wrapper {
  height: 0;
}

.rejudge_wrapper #rejudge_form {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

#submit-button.disabled {
  pointer-events: none !important;
}

#abort-button {
  display: inline-block;
}



.login_required_overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.login_required_overlay div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login_required_overlay a {
  padding: 8px 20px;
  box-shadow: var(--shadow-border);
  border: 0.5px solid var(--border);
}

/* test cases  */
.tabs .tab {
  color: var(--text-color-main);
}

.tabs .tab:hover {
  color: var(--text-color-main-hover);
}
.tabs .tab.active {
  color: var(--text-color-active);
}

.tab_content:not(.active) {
  display: none !important;
}

.tab_content.active {
  display: block;
}

.tab {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.tab svg {
  width: 20px;
}

.submission {
  height: 100%;
  overflow: hidden;
}

.submission > .tabs {
  height: var(--submissionnav-height);
  padding: 0;
  display: flex;
  justify-content: start;
}

.submission > .tabs .tab {
  padding: 0 10px;
  transition: 0.1s;
}

.submission > .tab_contents {
  height: calc(100% - var(--submissionnav-height));
  overflow: hidden;
}

#testcases {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  overflow: hidden;
}

#testcases .tabs {
  width: 150px;
  flex-shrink: 0;
  height: 100%;
  overflow: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  border-right: 0.5px solid var(--border);
  border-bottom: 0;
}

#testcases .tabs .tab {
  padding: 8px;
  border-bottom: 0.5px solid var(--border);
  cursor: pointer;
  width: 100%;
  height: 40px;
}

#testcases .tabs .tab.subcase {
  padding-left: 30px;
}

#testcases .tab_content {
  width: 100%;
  overflow: auto;
  padding: 0 8px;
  margin: 0;
}

.testcase_data_item {
  margin: 5px 0 5px 0;
  display: flex;
  color: var(--text-color-main);
  background: var(--bg-main);
}

.testcase_data_item > label {
  width: 160px;
  padding: 8px;
  flex-shrink: 0;
  display: block;
}

.testcase_data_item .outer_wrapper {
  background: #e9e9e9;
  border: 0.5px solid var(--border);
  max-height: 200px;
  flex-shrink: 0;
  max-width: 500px;
  overflow: auto;
}

.testcase_data_item .inner_wrapper {
  display: flex;
  background: var(--bg-main);
}

.testcase_data_item .inner_wrapper pre {
  flex-shrink: 0;
  background: var(--bg-main);
  margin: 0;
  color: var(--text-color-main);
}

.testcase_data_item pre {
  white-space: pre-line;
  display: block;
  word-wrap: break-word;
  padding: 8px;
}

.testcase_data_item > span {
  display: flex;
  align-items: center;
}

.testcase_data_item .odd-holder {
  flex-shrink: 0;
}


@media screen and (max-width: 992px) {
  :root {
    --mainnav-height: 36px;
  }

  .main {
    display: block;
    overflow: auto;
    height: calc(100vh - var(--mainnav-height) - var(--topbar-height));
  }

  .iframe .main {
    height: calc(100vh - var(--topbar-height));
  }

  .problem_details {
    height: auto;
    overflow: auto;
  }

  .codeplace {
    width: 100% !important;
    height: auto;
    display: block;
    border-top: 0.5px solid var(--border);
    border-left: none;
  }

  .codeplace #expand_button {
    display: none;
  }

  .codeplace .toolbar {
    justify-content: end;
  }

  .codeplace .resizable-l {
    display: none;
  }
}
