/* submission status - results  */
#submission_results {
  padding: 8px;
  height: 100%;
  overflow: auto;
  color: var(--text-color-main);
  background: var(--bg-main);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#submission_results  {
  white-space: nowrap;
}

#submission_results .submission-info {
  display: block;
  width: 100%;
}

.testcases_container * {
  box-sizing: border-box;
}

.testcases_container {
  padding: 8px;
  list-style-type: none;
}

.testcase_title {
  padding-left: 0;
  font-weight: bold;
  margin: 0;
  gap: 20px;
  height: 20px;
}

.testcase_title b {
  display: inline-block;
  width: 150px;
}

.subcases {
  padding-left: 20px;
  list-style-type: none;
  list-style-type: circle;
}

.testcase_title,
.subcase_title {
  display: flex;
  align-items: center;
}

.subcase_title {
  height: 20px;
}

.subcase_title b {
  display: inline-block;
  width: 150px;
}

.mainstatus {
  display: flex;
  align-items: start;
  gap: 15px;
  font-weight: 300;
}

/* .mainstatus  */

/* your output  */
.your_output {
  display: flex;
  min-height: 20px;
  gap: 20px;
  align-items: start;
  padding: 6px 6px 6px 170px;
}

.your_output .togglebutton {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.your_output .togglebutton:hover {
  text-decoration: underline;
}

.your_output .togglebutton svg {
  display: inline-block;
  width: 15px;
  transition: 0.2s;
}

.your_output .togglebutton.show svg {
  transform: rotate(90deg);
}

.your_output p {
  margin: 0;
  display: flex;
  align-items: center;
}

.your_output div {
  max-height: 200px;
  overflow: auto;
  flex: 1;
  display: none;
}

.your_output .togglebutton.show ~ div {
  display: block;
}

.your_output pre {
  background: var(--bg-main);
  border: 0.5px solid var(--border);
  padding: 6px;
  color: var(--text-color-main);
}

#submission_results  h3 {
  font-size: 1em;
  font-weight: bold;
}