<script type="text/javascript">
  window.aceEditor.commands.addCommand({
    name: "pastingCommand",
    bindKey: { win: "Ctrl-V", mac: "Command-V" },
    exec: function (editor) {
      alert("Do it yourself. Don't copy!");
      navigator.clipboard
        .readText()
        .then((copiedCode) => {
          editor.insert(copiedCode);
        })
        .catch(alert);
    },
    readOnly: true, // false if this command should not apply in readOnly mode
    scrollIntoView: "cursor",
  });
</script>
