<div class="problem_clsf clearfloat">
  <div class="problem_clsf_item clsf_author">
    {% if not contest_problem or not contest_problem.contest.hide_problem_authors %} 
      {% cache 86400 'problem_authors' problem.id LANGUAGE_CODE %} 
        {% with authors=problem.authors.all() %} 
          {% if authors %}
            <i class="fa fa-pencil-square-o fa-fw"></i>
            <span class="pi-name">
            {% trans trimmed count=authors|length %} 
              Author: 
                {% pluralize count %}
              Authors: 
            {% endtrans %}
            </span>
    <div class="pi-value authors-value">{{ link_users(authors) }}</div>
          {% endif %} 
        {% endwith %} 
      {% endcache %} 
    {% endif %}
  </div>

  <div class="problem_clsf_item clsf_points">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
      />
    </svg>
    {{problem.points}} points
  </div>

  <div class="problem_clsf_item clsf_memorylimit">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75"
      />
    </svg>

    Memory limit: <span>{{problem.memory_limit|kbdetailformat }}</span>
  </div>

  <div class="problem_clsf_item clsf_type">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z"
      />
    </svg>

    Problem type: {% for type in problem.types.all() %}
    <span> {{ type }} </span>
    {% endfor %}
  </div>

  <div class="problem_clsf_item clsf__timelimit">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>

    Time limit: <span>{{problem.time_limit}} s</span>
  </div>
</div>

<div class="problem_description">
  <div class="content-description screen">
 {{
    problem.description|markdown(problem.markdown_style,
    MATH_ENGINE)|reference|str|safe }} {# uuuuvcomment #} {# I commented out
    these lines of code temporarily #} {# I will get back later #} {% if
    submission and False %} {% cache 86400 'problem_html' problem.id MATH_ENGINE
    LANGUAGE_CODE %} {{ description|markdown(problem.markdown_style,
    MATH_ENGINE)|reference|str|safe }} {% endcache %} {% else %} {% endif %} {%
    with license=problem.license %} {% if license %}
    <span class="license">
      <a href="{{ url('license', license.key) }}"
        >{{ license.display or license.name }}</a
      >
    </span>
    {% endif %} {% endwith %}
  </div>
</div>
