<script type="text/javascript">
  const initialResizableHeight = localStorage.getItem("editor_height");
  if (initialResizableHeight && !isNaN(Number(initialResizableHeight))) {
    $(".codeplace_editor").height(Number(initialResizableHeight));
  }

  const initialResizableWidth = localStorage.getItem("editor_width");
  if (initialResizableWidth && !isNaN(Number(initialResizableWidth))) {
    $(".codeplace").width(Number(initialResizableWidth));
  }

  // horizontal resizing
  $(".codeplace").resizable({
    direction: ["left"],
    stop: () => {
      localStorage.setItem("editor_width", $(".codeplace").width());
    },
  });

  // updating #ace_source height when and after vertical resizing
  $(".codeplace_editor").resizable({
    direction: ["bottom"],
    resize: () => {
      $("#ace_source").height($(".codeplace_editor").height());
    },
    stop: () => {
      $("#ace_source").height($(".codeplace_editor").height());
      console.log(window.aceEditor);
      window.aceEditor.resize();
      localStorage.setItem("editor_height", $(".codeplace_editor").height());
    },
  });

  // set initial height to #ace_source
  $("#ace_source").height($(".codeplace_editor").height());

  // clear code in the editor
  function clearEditor() {
    var source = $("textarea#id_source");
    
    source.val(window.initial_code);
    window.ace_source.getSession().setValue(window.initial_code);
  }
</script>
