<script type="text/javascript">
  // horizontal resizing
  $(".codeplace").resizable({
    direction: ["left"],
  });

  // update #ace_source height when and after vertical resizing
  $(".codeplace_editor").resizable({
    direction: ["bottom"],
    resize: () => {
      $("#ace_source").height($(".codeplace_editor").height());
    },
    stop: () => {
      $("#ace_source").height($(".codeplace_editor").height());
      window.aceEditor.resize();
    },
  });

  // set initial height to #ace_source
  $("#ace_source").height($(".codeplace_editor").height());

  // clear code in the editor
  function clearEditor() {
    var source = $("textarea#id_source");
    source.val("");
    window.ace_source.getSession().setValue("");
  }
</script>
