{% extends 'funix/problem/problem-base.html' %} {% block media_child %} {{
form.media.css }}
<link rel="stylesheet" href="{{ static('plugins/css/resizable.min.css') }}" />
<link rel="stylesheet" href="{{ static('funix/css/problem.css') }}" />
{% endblock %} {% block js_media %}
<script
  src="{{static('plugins/js/resizable.min.js')}}"
  type="text/javascript"
></script>
<script type="text/javascript" src="{{ ACE_URL }}/ace.js"></script>
{{ form.media.js }} {% compress js %} {% include 'funix/problem/ace-editor.html'
%} {% endcompress %}

<script type="text/javascript" src="{{ static('event.js') }}"></script>
{% if submission and not submission.is_graded and last_msg %} {% include
"funix/problem/js-event.html" %} {% endif %} {% if submission and not
submission.is_graded %}
<script type="text/javascript">
  $(function () {
    $(document).keydown(function (e) {
      // Ctrl-Enter or Command-Enter
      if ((e.metaKey || e.ctrlKey) && e.which == 13) {
        $("#abort-button form").submit();
      }
    });
  });
</script>
{% endif %} {% endblock %} {% block problem_content %} {% if submission %} {%
set is_processing = submission is not none %} {% endif %}

<div class="problem_container">
  <div class="topbar">
    <span>
      {% if content_title %}{{ content_title }}{% else %}{{ title }}{% endif
      %}</span
    >
  </div>

  <div class="main">
    <div class="problem_details">
      {% include "funix/problem/details.html" %}
    </div>

    <div class="codeplace">
      {% if not request.user.is_authenticated %}
      <div class="login_required_overlay">
        <div>
          <p>Login is needed to make submission</p>
          <a
            href="{{ url('auth_login') }}?next={{ LOGIN_RETURN_PATH|urlencode }}"
            >{{ _('Login!') }}</a
          >
        </div>
      </div>
      {% else %} {% include 'funix/problem/editor.html' %}

      <div id="event-update" class="submission">
        {# uuuuvcomment ------------------------- submission nav
        ------------------------- #} 
        {% include 'funix/submission/submission.html' %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% compress js %} {% include "funix/problem/js-ace-editor-extra.html" %} {%
include "funix/problem/js-resizing.html" %} {% include
"funix/problem/js-tabs.html" %} {% endcompress %} {% endblock %}
