{% extends 'funix/base.html' %} 
{% block media %}
  <link rel="stylesheet" href="{{ static('funix/css/base.css') }}" />

  {% block media_child %}
  {% endblock %}
{% endblock %} 

{% block js_media %}
  {% compress js %}
  <script src="{{static('plugins/js/resizable.min.js')}}" type="text/javascript"></script>
  <script type="text/javascript" src="{{ static('event.js') }}"></script>
  <script type="text/javascript" src="{{ ACE_URL }}/ace.js"></script>
  {{ form.media.js }}

  {% include 'funix/problem/ace-editor.html' %}
  {% endcompress %}
{% endblock %}

{% block body %}
<div id="beta-container" >
  <div id="sidebar">{% include "funix/problem/sidebar.html" %}</div>

  <div id="main">{% block problem_content %} {% endblock %}</div>
</div>

{% endblock %}
