{% extends 'funix/problem/problem-base.html' %}


{% block media_child %}
    {{ form.media.css }}
    <link rel="stylesheet" href="{{ static('plugins/css/resizable.min.css') }}">
    <link rel="stylesheet" href="{{ static('funix/css/problem.css') }}">
    <link rel="stylesheet" href="{{ static('funix/css/submission-status.css') }}" />



    {% compress js %}
    <script type="text/javascript" src="{{ static('event.js') }}"></script>
    <script src="{{static('plugins/js/resizable.min.js')}}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ ACE_URL }}/ace.js"></script>
    {{ form.media.js }}

        {% include 'funix/problem/ace-editor.html' %}
    {% endcompress %}



    {% if submission and not submission.is_graded %}
        <script type="text/javascript">
            $(function () {
                $(document).keydown(function(e) {
                    // Ctrl-Enter or Command-Enter
                    if ((e.metaKey || e.ctrlKey) && e.which == 13) {
                        $('#abort-button form').submit();
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}



{% block problem_content %} 
 

    <div class="problem_container">
        <div class="topbar">
            <span> {% if content_title %}{{ content_title }}{% else %}{{ title }}{% endif %}</span>
    
        </div>

        <div class="main">
            <div class="problem_details">
                 {% include "funix/problem/problem-details.html" %} 
            </div>

            <div class="codeplace">
                {% include 'funix/submission/submission.html' %}
            </div>
        </div>
    </div>

    {% compress js %}
        {% include "funix/problem/js-ace-editor-extra.html" %}
        {% include "funix/problem/js-resizing.html" %}
        {% include "funix/problem/js-tabs.html" %}
    {% endcompress %}

    <script type="text/javascript">
        function sidebarNavigate(event, tab) {
            console.log(tab);
            if (tab == 'problem-details') {
                $.ajax({
                    url: '{{ url('beta_problem_details') }}',
                    data: {code: '{{ problem.code }}'}
                }).done(function (data) {
                    console.log("Details")
                    console.log(data)
                    document.querySelector('.problem_details').innerHTML = data
                      
                }).fail(function (data) {
                    console.log('Failed to update testcases!');
                });
            }

            if (tab == 'problem-comments') {
                $.ajax({
                    url: '{{ url('beta_problem_comments', problem.code) }}',
                    data: {code: '{{ problem.code }}'}
                }).done(function (data) {
                    console.log("Comments")
                    console.log(data)
                    document.querySelector('.problem_details').innerHTML = data
                      
                }).fail(function (data) {
                    console.log('Failed to update testcases!');
                });
            }
        }
    </script>

    <script type="text/javascript">
        $(document).on('submit', '#problem_submit',function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url: "{{ url('beta_problem', problem.code) }}",
                 data: $('form#problem_submit').serialize(),
                success:function(json){
                    console.log('get json')
                    document.querySelector('.codeplace').innerHTML = json.html;
                    console.log(json)
    
                    $(function () {
                        var blocked = false, request = false;
                        var list = $('#test-cases');
                  
                        function update() {
                            console.log('update')
                            if (blocked) {
                                request = true;
                                return;
                            }
                            request = false;
                            blocked = true;
                            $.ajax({
                                url: '{{ url('beta_submission_testcases_query') }}',
                                data: {id: json.submission_id}
                            }).done(function (data) {
                                console.log("done")
                                  const update_zone = document.getElementById('event-update')
                                  update_zone.innerHTML = data;
                                  
                                list.empty().html(data).find('.toggle').each(function () {
                                    register_toggle($(this));
                                });
                                setTimeout(function () {
                                    blocked = false;
                                    if (request)
                                        update();
                                }, 500);
                            }).fail(function (data) {
                                console.log('Failed to update testcases!');
                            });
                  
                            if ($(window).scrollTop() + $(window).height() > $(document).height() - 100)
                                $("html, body").animate({scrollTop: $(document).height()}, 0);
                        }
                  
                        var receiver = new EventReceiver(
                            "{{ EVENT_DAEMON_LOCATION }}", "{{ EVENT_DAEMON_POLL_LOCATION }}",
                            [`sub_${ json.submission_id_secret }`], json.last_msg, function (message) {
                                console.log("event receiver")
                                switch (message.type) {
                                    case 'internal-error':
                                    case 'grading-end':
                                    case 'compile-error':
                                        $('#abort-button').remove();
                                        $('#grading-label').remove();
                                    case 'test-case':
                                    case 'grading-begin':
                                    case 'processing':
                                        update();
                                }
                            }
                        )
                    });
                },
                error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
            });
        });
    </script>
{% endblock %}