    {# uuuuvcomment ------------------------- submission nav ------------------------- #}

    <ul class="tabs">
                    
        <li id="testcases_nav" class="tab " onclick="tabHandler(event, 'testcases')" >Test cases</li>
        <li id="submission_nav" class="tab active {% if is_processing == true %}{{'active'}}{% endif %}" onclick="tabHandler(event, 'submission_results')">Console</li>


    {# uuuuvcomment ------------------------- rejudge form ------------------------- #}
        <div class="rejudge_wrapper">
            {% if submission and perms.judge.rejudge_submission and not submission.is_locked %}
            {% compress js %}
                <script type="text/javascript">
                    window.confirm_and_rejudge = function (form) {
                        if (confirm("{{ _('Are you sure you want to rejudge?') }}")) {
                            form.submit()
                        }
                    };
                </script>
            {% endcompress %}
            {% if iframe == '1' %}
                {% set iframe_query = '?iframe=1' %}
            {% else %}
                {% set iframe_query = '' %}
            {% endif %}
            <form id="rejudge_form" action="{{ url('beta_submission_rejudge') }}{{iframe_query}}" method="post">
                {% csrf_token %}
                <a href="#" onclick="confirm_and_rejudge(parentNode)" class="button">{{ _('Rejudge') }}</a>
                <input type="hidden" name="id" value="{{ submission.id }}" />
                <input type="hidden" name="path" value="{{ url('beta_problem', problem.code) }}" />
            </form>
        {% endif %}
        </div>
    </ul>

    <div class="tab_contents">
        <div id="testcases" class="tab_content {% if not (is_processing == true or submission) %}{{'active'}}{% endif %}">
            {% if problem.cases.count() == 0 %}
                <p>This problem has no test data to display.</p>
            {% else %}
                <ul class="tabs">
                    {% for case in testcases_map %}
                       {% if case.type != 'E' %}
                            <li  onclick="tabHandler(event, 'testcase{{case.order}}')" class="tab {% if case.order == 1 %}{{ 'active' }}{% endif %} {% if case.sub_order %}{{'subcase'}}{% endif %}"  >
                                {% if case.type == 'S' %}
                                    Batch {{case.batch_order}}
                                {% elif case.sub_order %}
                                    Case {{case.sub_order}}
                                {% else %}
                                    Test case {{case.batch_order}}
                                {% endif %}
                                {% if case.is_pretest == false %}
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                                    </svg>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                
                {# uuuuvcomment ------------------------- test cases ------------------------- #}
                {% set case_count = counter() %}
                {% for case_in_map in testcases_map %}
                {% set case = problem.cases.get(order=case_in_map.order) %}
                {% if not case.type == 'E'  %}
                        {% if not case.type == 'S' %}
                            {% set case_order = case_count() %}
                            {% if submission %}
                                {% if  submission.test_cases.filter(case=case_order).count() > 0 %}
                                    {% set case_submission = submission.test_cases.get(case=case_order) %}
                                {% endif %}
                            {% endif %}

                        {% endif %}

                        <div id="testcase{{case.order}}" class="tab_content {% if case.order == 1 %}{{ 'active' }}{% endif %}">
                            <div class="inner">
                                {% if not case_in_map.sub_order %} {# just show points if this is not a subcase #}
                                    <p class="testcase_data_item">
                                        <label>Points:</label>
                                        <span>
                                            {% if case_submission %} {# if is normal case and has submission #}
                                                {{ _('%(points)s/%(total)s points', points=case_submission.points|floatformat(0), total=case_submission.total|floatformat(0)) }}
                                            {% elif case_in_map.type == 'S'and  submission.test_cases.filter(batch=case_in_map.batch).count() > 1 %} {# if is batched start #}
                                                {% set batched_submission = submission.test_cases.filter(batch=case_in_map.batch)[0] %}
                                                {{ _('%(points)s/%(total)s points', points=batched_submission.points|floatformat(0), total=batched_submission.total|floatformat(0)) }}
                                            {% else %}
                                                {{case.points}}
                                            {% endif %}
                                        </span>
                                        <div class="odd-holder" style="width: 20px"></div>
                                    </p>
                                {% endif %}
                        
                                
                                {% if case.is_pretest == true %}
                                    {% if case.type != 'S' %}
                                        <div class="testcase_data_item">
                                            <label>Input:</label> 
                                            {% if case.data and case.data.input_data %}
                                                <div class="outer_wrapper">
                                                    <div class="inner_wrapper">
                                                        <pre >
                                                            {{case.data.input_data}}
                                                        </pre>
                                                    </div>
                                                </div>
                                            {% elif case.generator_args %}
                                                <span>{{ case.generator_args }}</span>
                                            {% else %}
                                                <span>Custom judge</span>
                                            {% endif %}
                                            <div class="odd-holder" style="width: 20px"></div>
                                        </div>
                                    {% endif %}
                                {% endif %}

                                {% if case.is_pretest == true %}
                                    {% if case.type != 'S' %}
                                        <div class="testcase_data_item">
                                            <label>Expected output:</label>
                                            {% if case.data and case.data.output_data %}
                                                <div class="outer_wrapper">
                                                    <div class="inner_wrapper">
                                                        <pre>
                                                            {{case.data.output_data}}
                                                        </pre>
                                                    </div>
                                                </div>
                                            {% elif case.generator_args %}
                                                <span>{{case.generator_args}}</span>
                                            {% else %}
                                                <span>Custom judge</span>
                                            {% endif %}
                                            <div class="odd-holder" style="width: 20px"></div>
                                        </div>
                                    {% endif %}
                                {% endif %}

                                {% if case.is_pretest == true %}
                                    {% if case.type != 'S' %}
                                        <div class="testcase_data_item">
                                            <label>Your output (clipped):</label>
                                            {% if case_submission %}
                                                <div class="outer_wrapper">
                                                        <div class="inner_wrapper">
                                                        <pre>
                                                            {{ case_submission.output }}
                                                        </pre>
                                                    </div>
                                                </div>
                                                <div class="odd-holder" style="width: 20px"></div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endif %}

                                {% if case.type != 'S' %}
                                    <div class="testcase_data_item">
                                        <label>Result:</label>
                                        {% if case.data %}
                                            {% if case_submission %}
                                                <span
                                                class=" 
                                                    {% if case_submission.status == 'AC' %}{{'success'}}{% elif case_submission.status == 'WA' %}{{'danger'}}{% else %}{{'warning'}}{% endif %}"
                                                >{{case_submission.status}}</span>
                                            {% endif %}
                                            <div class="odd-holder" style="width: 20px"></div>
                                        {% else %}
                                            <span>_</span>
                                        {% endif %}
                                        <div class="odd-holder" style="width: 20px"></div>
                                    </div>
                                {% endif %}

                                {% if case.type != 'S' %}
                                    <div class="testcase_data_item">
                                        <label>Memory:</label>
                                        {% if case_submission %}
                                            <span>{{case_submission.memory|kbdetailformat}}</span>
                                        {% else %}
                                            <span>_</span>
                                        {% endif %}
                                        <div class="odd-holder" style="width: 20px"></div>
                                    </div>
                                {% endif %}

                                {% if case.type != 'S' %}
                                    <div class="testcase_data_item">
                                        <label>Time:</label>
                                        {% if case_submission %}
                                            <span>{{case_submission.time|floatformat(3)}}s</span>
                                        {% else %}
                                            <span>_</span>
                                        {% endif %}
                                        <div class="odd-holder" style="width: 20px"></div>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        <div id="submission_results" class="tab_content {% if is_processing == true or submission %}{{'active'}}{% endif %}">
            {% if submission and  not submission.is_graded and (request.user == submission.user.user or perms.judge.abort_any_submission) %}
                <div id="abort-button" class="d-none" >
                    {# uuuuvcomment ------------------------- abort form ------------------------- #}
                    <form action="{{ url('beta_submission_abort', submission.id) }}" method="post"
                        title="{{ _('Press Ctrl-Enter or Command-Enter to abort.') }}">
                        {% csrf_token %}
                        <input style="float:left" type="submit" value="{{ _('Abort') }}" class="button"/>
                    </form>
                </div>
            {% endif %}

            {% if submission %}
                <span class="submission-info">
                    <span class="submission-date">
                        {# uuuuvcomment ------------------------- submission info ------------------------- #}
                        {% with date=submission.date|date(_('N j, Y, g:i a')), can_edit=submission.problem.is_editable_by(request.user) %}
                            {% if can_edit and submission.judged_on %}
                                {{ _('%(date)s on %(judge)s', date=date, judge=submission.judged_on.name) }}
                            {% else %}
                                {{ date }}
                            {% endif %}
                            <br>
                            <span>{{ submission.language }}</span>
                            {% if can_edit %}
                                [<a href="{{ url('admin:judge_submission_change', submission.id) }}">{{ _('Admin') }}</a>]
                            {% endif %}
                        {% endwith %}
                    </span>
                </span>

                {# uuuuvcomment ------------------------- submission results and loading ------------------------- #}
                <div id="test-cases">{% include "funix/problem/submission-status.html" %}</div>
            
            {% else %}
                <p>You haven't made any submission.</p>
            {% endif %}
        </div>
    </div>